<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag '/whisk_logo/Primary_logo_276x67.png', size: "138x34" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="Navber">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to 'マイページ', user_path(current_user), class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to '計測', '#', class: 'nav-link' %></li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            メニュー
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to '過去データ', '#', class: 'dropdown-item' %>
            <%= link_to 'Help', about_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li class="nav-item"><%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'ログイン', new_user_session_path , class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Help', about_path, class: 'nav-link' %></li>
      <% end %>
    </ul>
  </div>
</nav>
