<!DOCTYPE html>
<html>
  <head>
    <title>Whisk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag("/whisk_logo/Flat_logo.png") %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c">
  </head>

  <body>
    <%= render 'layouts/navigator' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
